In [1]:
from google.colab import files
import numpy as np
import pandas as pd
from datetime import datetime  
from datetime import timedelta  
import requests
import csv

In [2]:
inf = files.upload()

Saving Customer sales history.xlsx to Customer sales history.xlsx

### ข้อมูล

In [3]:
chdat = pd.read_excel('/content/Customer sales history.xlsx')
cdat = pd.read_excel('/content/Customer Info.xlsx')

In [8]:
chdat.head()

,CustomerId,PersonBirthdate,Gender,OrderId,CreatedOn,ItemProductRef,ItemProductName,TotalQty,ItemPrice,TotalSales
0,92368b352e2469070e734055d5d51b076465baae,25/2/2000,Female,331173,2022-06-09,73228710,Follow Me Green Tea Grape Seed Extract Anti-Ha...,1,9.99,9.99
1,92368b352e2469070e734055d5d51b076465baae,25/2/2000,Female,481983,2022-07-07,897892,Double Swallow Barley 100g,1,0.75,0.75
2,92368b352e2469070e734055d5d51b076465baae,25/2/2000,Female,87568,2022-04-06,74713825,Lotus's Thousand Island 250ml,1,4.99,4.99
3,350d25cbd408ef2439302e452e8e7c405e081166,23/8/1982,Male,665687,2022-07-31,10525769,มาม่าบิ๊กแพ็คบะหมี่ ต้มยำกุ้ง 95ก.X4,1,36.00,36.00
4,350d25cbd408ef2439302e452e8e7c405e081166,23/8/1982,Male,665687,2022-07-31,6492819,อาริงาโตข้าวเกรียบปลาหมึก ดั้งเดิม65ก,1,20.00,20.00

In [7]:
chdat.dtypes

CustomerId                 object
PersonBirthdate            object
Gender                     object
OrderId                     int64
CreatedOn          datetime64[ns]
ItemProductRef              int64
ItemProductName            object
TotalQty                    int64
ItemPrice                 float64
TotalSales                float64
dtype: object

In [ ]:
chdat2 = pd.DataFrame(chdat['CustomerId'])
chdat2 = chdat2.join([chdat['CreatedOn']])
chdat2 = chdat2.join(chdat['ItemProductRef'])
chdat2 = chdat2.join(chdat['TotalQty'])
chdat2

,CustomerId,CreatedOn,ItemProductRef,TotalQty
0,92368b352e2469070e734055d5d51b076465baae,2022-06-09,73228710,1
1,92368b352e2469070e734055d5d51b076465baae,2022-07-07,897892,1
2,92368b352e2469070e734055d5d51b076465baae,2022-04-06,74713825,1
3,350d25cbd408ef2439302e452e8e7c405e081166,2022-07-31,10525769,1
4,350d25cbd408ef2439302e452e8e7c405e081166,2022-07-31,6492819,1
...,...,...,...,...
34885,7737512cf88b86fafd7914accfec7a9e3060b322,2022-06-02,3198103,1
34886,8ae1cfa7382da780fa8fbbd2324b764e4b66deaf,2022-07-21,10319980,1
34887,2d3fd1dd0ee33c531970327afd4cd27de85b7119,2022-07-13,50629131,1
34888,a2be4fc050bae598235df4ea9646df39fcb193c5,2022-06-14,70323232,1
34889,58e36806636d5940d48f7a13a58d5dc6d08fbff6,2022-04-06,72910607,1

In [ ]:
cdat.head()

,CustomerId,FirstName,LastName,Birthdate,Gender,TelephoneNo,Email
0,889d0bc8dd8b65c5538cae8f99b9ef220f9ff09b,Name1,LastName1,24/10/1964,Male,66810000001,Name1@fakeemail.com
1,92368b352e2469070e734055d5d51b076465baae,Name2,LastName2,25/2/2000,Female,66810000002,Name2@fakeemail.com
2,350d25cbd408ef2439302e452e8e7c405e081166,Name3,LastName3,23/8/1982,Male,66810000003,Name3@fakeemail.com
3,ae89043ca6dd972e4980992d3c51b186aeee9118,Name4,LastName4,1/5/1984,Not Defined,66810000004,Name4@fakeemail.com
4,e45de64b93c66d5f938a496bd85d856b83404042,Name5,LastName5,23/5/1983,Not Defined,66810000005,Name5@fakeemail.com

In [ ]:
cdat.dtypes

CustomerId             object
FirstName              object
LastName               object
Birthdate      datetime64[ns]
Gender                 object
TelephoneNo             int64
Email                  object
dtype: object

### ฟังก์ชัน

In [ ]:
def CreatesuggestionList(datf) : 
  x = datf['ItemProductRef'].value_counts()
  Suggest_Item_List.append(x.index.values[0])
  Suggest_Item_List.append(x.index.values[1])
  Suggest_Item_List.append(x.index.values[2])

In [ ]:
def CreatesuggestionListCus(datf) :
  x = datf['ItemProductRef'].value_counts()
  if len(x.index.values) < 3 :
    for i in x.index.values :
      Suggest_Item_List.append(i)
  else :
    Suggest_Item_List.append(x.index.values[0])
    Suggest_Item_List.append(x.index.values[1])
    Suggest_Item_List.append(x.index.values[2])

###การทำงาน

In [6]:
count = 0
for i in chdat['CreatedOn']:
  i = i.split('T')
  chdat['CreatedOn'][count] = i[0]
  count = count + 1
chdat['CreatedOn'] = pd.to_datetime(chdat['CreatedOn'],format = '%Y-%m-%d')
cdat['Birthdate'] = pd.to_datetime(cdat['Birthdate'],format = '%d/%m/%Y')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
tchdat2 = chdat2.loc[chdat2['CreatedOn'] >= datetime.now() - timedelta(days = 45)]
tchdat2

,CustomerId,CreatedOn,ItemProductRef,TotalQty
3,350d25cbd408ef2439302e452e8e7c405e081166,2022-07-31,10525769,1
4,350d25cbd408ef2439302e452e8e7c405e081166,2022-07-31,6492819,1
5,ae89043ca6dd972e4980992d3c51b186aeee9118,2022-08-02,4169506,1
10,ae89043ca6dd972e4980992d3c51b186aeee9118,2022-08-02,2753642,2
11,ae89043ca6dd972e4980992d3c51b186aeee9118,2022-08-02,70608326,1
...,...,...,...,...
34870,d6ac6eaa0b131d9620c1df1611bdf0745638e3b2,2022-08-10,73830267,1
34872,58e36806636d5940d48f7a13a58d5dc6d08fbff6,2022-08-01,72781416,2
34875,50b8f6685e4af3d4f08da35557e66fd60c0affd1,2022-08-06,70546703,1078
34877,69c74589abfff45eddb4a1f1680626bb1d917d87,2022-08-19,70173893,1
34881,64e4325d68740f6a09673610f7a2019c81d1ba5a,2022-08-01,70867631,1

In [ ]:
x = '350d25cbd408ef2439302e452e8e7c405e081166'
Suggest_Item_List = []
if x not in tchdat2['CustomerId'].unique() :
  CreatesuggestionList(tchdat2)
  print(1)
elif x in tchdat2['CustomerId'].unique() :
  Cuhdat = tchdat2.loc[tchdat2['CustomerId'] == x]
  CreatesuggestionListCus(Cuhdat)
  print(2)

2

In [ ]:
Suggest_Item_List

[50771393, 10525769, 166578299]

In [ ]:
header = ['CustomerId','ItemProductRef']
fin = open('/content/SuggestItem.csv','w',encoding = 'utf-8')
fin = csv.writer(fin)
fin.writerow(header)
for i in cdat['CustomerId'] :
  x = i
  Suggest_Item_List = []
  if x not in tchdat2['CustomerId'].unique() :
    CreatesuggestionList(tchdat2)
  elif x in tchdat2['CustomerId'].unique() :
    Cuhdat = tchdat2.loc[tchdat2['CustomerId'] == x]
    CreatesuggestionListCus(Cuhdat)
  for j in Suggest_Item_List : 
      rw = [i,j]
      fin.writerow(rw)

### เผื่อใช้

In [ ]:
a = tchdat2.groupby(['CustomerId','ItemProductRef']).sum()

In [ ]:
a

                                                         TotalQty
CustomerId                               ItemProductRef
006decb9daf9c77cc6a0d6f585bab46f8d9e718a 650919                 6
                                         12984647               6
                                         72654244               1
                                         74439049               1
                                         167607299              1
...                                                           ...
ffb02d2b39d7720aa6754c4ca39e8d645c8a280e 1765752                1
                                         2071738             1358
                                         72984457               1
                                         73626856               1
                                         74781294               1

[8424 rows x 1 columns]

In [ ]:
x = 'e0292bd9622763565704b632d4b902299d109d16'
b =  tchdat2.loc[tchdat2['CustomerId'] == x]
b = b.sort_values(by = ['CreatedOn'],ignore_index = True,ascending = False)
SIL2 = []
c = b['ItemProductRef'].values
SIL2.append(c[:5])

In [ ]:
b

,CustomerId,CreatedOn,ItemProductRef,TotalQty
0,e0292bd9622763565704b632d4b902299d109d16,2022-08-09,51179407,6
1,e0292bd9622763565704b632d4b902299d109d16,2022-08-09,168160507,2
2,e0292bd9622763565704b632d4b902299d109d16,2022-08-09,14582376,11
3,e0292bd9622763565704b632d4b902299d109d16,2022-08-07,9796347,1
4,e0292bd9622763565704b632d4b902299d109d16,2022-08-07,74747665,6
5,e0292bd9622763565704b632d4b902299d109d16,2022-08-07,23119977,2
6,e0292bd9622763565704b632d4b902299d109d16,2022-08-07,11885386,2
7,e0292bd9622763565704b632d4b902299d109d16,2022-08-07,71493727,1
8,e0292bd9622763565704b632d4b902299d109d16,2022-08-07,868582,1
9,e0292bd9622763565704b632d4b902299d109d16,2022-08-07,23119985,2
10,e0292bd9622763565704b632d4b902299d109d16,2022-08-07,5194865,2
11,e0292bd9622763565704b632d4b902299d109d16,2022-08-07,50614275,1
12,e0292bd9622763565704b632d4b902299d109d16,2022-08-07,26536145,2
13,e0292bd9622763565704b632d4b902299d109d16,2022-08-07,75494280,1
14,e0292bd9622763565704b632d4b902299d109d16,2022-08-07,50854508,3
15,e0292bd9622763565704b632d4b902299d109d16,2022-08-07,2521342,1
16,e0292bd9622763565704b632d4b902299d109d16,2022-08-05,24165743,3
17,e0292bd9622763565704b632d4b902299d109d16,2022-08-05,24236012,1
18,e0292bd9622763565704b632d4b902299d109d16,2022-08-05,51105790,2
19,e0292bd9622763565704b632d4b902299d109d16,2022-08-05,70529876,1
20,e0292bd9622763565704b632d4b902299d109d16,2022-08-05,1233963,6
21,e0292bd9622763565704b632d4b902299d109d16,2022-08-05,73008699,6
22,e0292bd9622763565704b632d4b902299d109d16,2022-08-05,74665928,2
23,e0292bd9622763565704b632d4b902299d109d16,2022-08-05,51658630,4
24,e0292bd9622763565704b632d4b902299d109d16,2022-08-05,51462740,3
25,e0292bd9622763565704b632d4b902299d109d16,2022-08-05,49301,5
26,e0292bd9622763565704b632d4b902299d109d16,2022-08-03,71754261,6
27,e0292bd9622763565704b632d4b902299d109d16,2022-08-03,24400653,3
28,e0292bd9622763565704b632d4b902299d109d16,2022-08-03,71871160,1
29,e0292bd9622763565704b632d4b902299d109d16,2022-08-03,49301,12
30,e0292bd9622763565704b632d4b902299d109d16,2022-08-03,24165743,5
31,e0292bd9622763565704b632d4b902299d109d16,2022-08-03,6148875,5
32,e0292bd9622763565704b632d4b902299d109d16,2022-08-03,71522891,3
33,e0292bd9622763565704b632d4b902299d109d16,2022-08-03,71871179,1
34,e0292bd9622763565704b632d4b902299d109d16,2022-08-03,14260387,5
35,e0292bd9622763565704b632d4b902299d109d16,2022-08-03,74665936,2

In [ ]:
SIL2

array([ 51179407, 168160507,  14582376,   9796347,  74747665])